MONGODB_URI=mongodb+srv://GC:GCUSER@cluster0.cbisb1b.mongodb.net/GC-Work
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXTAUTH_SECRET=your_nextauth_secret_key
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES=7
CLOUDINARY_CLOUD_NAME=dathyolyo
CLOUDINARY_API_KEY=544833246693966
CLOUDINARY_API_SECRET=4hKM-7DQLl0CKouvMJ83SH64EGk
CRON_SECRET=your_cron_secret_key_here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com